#edit {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 45px;
}


#edit > canvas {
  box-shadow: 0 0 0 #f88 inset;
  transition: box-shadow 0.2s;
  outline: none;
}
#edit > canvas:focus {
  box-shadow: 0 0 5px #f88 inset;
}


#edit-tools {
  z-index: 2;
  position: absolute;
  left: 0;top: 0;
  height: 100%;
  box-shadow: 0 0 3px #888;
  width: 45px;
  overflow: hidden;
  transition: width 0.2s;
  background-color: var(--theme1ex);
}
#edit-tools:hover {
  width: 110px;
}
#edit-tools > p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  white-space: nowrap;
  width: 110px;
  display: flex;
  padding: 2px 0;
  color: var(--font1);
  transition: background-color 0.2s, color 0.2s;
}
#edit-tools > p:first-child {
  padding-top: 10px;
}
#edit-tools > p:hover {
  background-color: #3333;
}
#edit-tools > p:active, #edit-tools > p.active {
  color: var(--link);
}
#edit-tools > p > ico {
  position: relative;
  width: 45px;
  text-align: center;
}
#edit-tools > hr {
  border: none;
  border-bottom: 1px solid #888;
  margin: 5px 0;
}


#edit-scroll {
  width: 20px;
  box-shadow: 0 1px 3px #888;
}
#edit-scroll > div {
  position: absolute;
  top: 0;
  width: 20px;
  background-color: #798;
  opacity: 0.2;
  transition: opacity 0.2s;
}
#edit-scroll > div:hover {
  opacity: 0.5;
}
#edit-scroll > div:active {
  opacity: 0.8;
}


#edit-right {
  padding: 10px 5px;
  width: 280px;
  flex-shrink: 0;
  overflow: auto;
  white-space: nowrap;
}
#edit-right input {
  font-family: var(--fontcode);
  color: var(--font1);
  border-bottom: 1px solid var(--font1);
  padding: 2px 3px;
  font-size: 12px;
  line-height: 15px;
  background-color: #7980;
  transition: background-color 0.2s, border-bottom 0.2s;
}
#edit-right input:focus {
  background-color: #7983;
  border-bottom: 1px solid var(--linkex);
}
#edit-right > div > h3 {
  color: var(--font2);
  margin: 5px;
  line-height: 24px;
}
#edit-right > div > q {
  display: block;
  text-align: center;
  margin: 5px 0;
  width: 260px;
  font-size: 12px;
}

#edit-detail > h3 {
  display: flex;
}
#edit-detail > h3 > span {
  margin-left: auto;
  background-color: var(--linkex);
  box-shadow: 0 1px 3px var(--linkex);
  font-size: 15px;
  color: #fff;
  background-image: linear-gradient(90deg, #fff 0%, #fff 50%, var(--linkex) 50%, var(--linkex) 100%);
  background-size: 200% 100%;
  background-position-x: 90%;
  width: 100px;
  text-align: center;
  opacity: 1;
  cursor: pointer;
  transition: background-position-x 0.2s, color 0.2s;
  user-select: none;
  -webkit-user-select: none;
}
#edit-detail > h3 > span.active {
  color: var(--linkex);
  background-position-x: 10%;
}

#edit-detail-bin {
  display: flex;
  border-radius: 10px;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  font-size: 12px;
  font-family: var(--fontcode);
}
#edit-detail-bin > span {
  width: 18px;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  margin-right: 4px;
  background-color: #7980;
  transition: background-color 0.2s, border-bottom 0.2s;
}
#edit-detail-bin > span:hover {
  background-color: #7983;
}
#edit-detail-bin > .t {
  border-bottom: 1px solid var(--linkex);
}
#edit-detail-bin > .f {
  border-bottom: 1px solid var(--font1);
}

#edit-detail > div {
  color: var(--font1);
  display: flex;
  padding: 3px 0;
  line-height: 20px;
  font-size: 15px;
}
#edit-detail > div > b {
  width: 24px;
  font-weight: normal;
  text-align: center;
}
#edit-detail > div > p {
  width: 60px;
  margin: 0;
}
#edit-detail > div > input {
  width: 166px;
}
#edit-detail > div.d > input {
  width: 77px;
  margin-right: 6px;
}


#edit-scripts {
  color: var(--font1);
}
#edit-scripts > h4 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  color: var(--link);
  user-select: none;
  -webkit-user-select: none;
  background-color: #7980;
  transition: background-color 0.2s;
}
#edit-scripts > h4:hover {
  background-color: #7983;
}
#edit-scripts > div {
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin-bottom: 5px;
}
#edit-scripts > div > span {
  width: 50px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(90deg, #fff 0%, #fff 50%, var(--linkex) 50%, var(--linkex) 100%);
  background-size: 200% 100%;
  background-position-x: 110%;
  transition: background-position-x 0.2s, color 0.2s;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
#edit-scripts > div > span.active, #edit-scripts > div > span:active {
  background-position-x: 10%;
  color: var(--linkex);
}
