#set {
  padding: 0 20px;
  color: var(--font1);
  height: 100%;
  overflow: auto;
}
#set > h3 {
  margin: 0;
  margin-top: 20px;
  color: var(--font2);
  font-weight: normal;
  font-size: 20px;
}
#set > p {
  margin: 5px 10px;
  font-size: 15px;
}


#set-theme {
  display: flex;
}
#set-theme > div, #set-theme > div > div {
  height: 60px;
  width: 100px;
  border-radius: 10px;
  background-position: center;
  background-size: 150%;
}
#set-theme > div {
  background-image: linear-gradient(45deg, #5bb, #b55, #5bb);
  padding: 3px;
  position: relative;
  cursor: pointer;
  margin: 5px;
  transition: opacity 0.2s;
  opacity: 1;
}
#set-theme > div:hover {
  opacity: 0.5;
}
#set-theme > div.active {
  background-image: linear-gradient(90deg, #0ff, #f00, #0ff);
}
#set-theme > div > p {
  margin: 0;
  background-color: #eeec;
  position: absolute;
  color: #546;
  bottom: 3px;
  left: 3px;
  border-radius: 0 0 10px 10px;
  font-size: 15px;
  text-align: center;
  width: calc(100% - 6px);
}


#set-keys > p {
  background-color: var(--linkex);
  box-shadow: 0 1px 3px var(--linkex);
  margin: 10px;
  padding: 10px;
  line-height: 20px;
  font-size: 15px;
  color: #fff;
  border-radius: 20px;
  width: 120px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}
#set-keys > p:hover {
  opacity: 0.5;
}
#set-keys > div {
  padding: 5px;
  animation: fadein 0.2s;
}
#set-keys > div > div {
  display: flex;
  padding: 5px 0;
  font-size: 15px;
}
#set-keys > div > div > kbd {
  font-family: var(--fontcode);
  width: 180px;
}

#set-para {
  padding: 5px;
}
#set-para > p {
  margin: 0;
  padding: 10px 5px;
  font-size: 15px;
}
#set-para > p > input {
  color: var(--link);
  margin: 0 5px;
  padding: 0 5px;
  font-family: var(--fontcode);
  border-bottom: 1px solid var(--link);
  width: 60px;
  text-align: center;
}

#set-plug {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
#set-plug > div {
  width: 320px;
  height: 120px;
  box-shadow: 0 0 10px #0002;
  margin: 5px;
  border-radius: 60px;
  position: relative;
  display: flex;
  cursor: pointer;
  animation: fadein 0.5s;
}
#set-plug > div > h4 {
  color: var(--font2);
  margin: 0;
  width: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 24px;
  flex-shrink: 0;
}
#set-plug > div > p {
  font-size: 15px;
  line-height: 20px;
  white-space: pre-wrap;
  margin: 0;
  padding: 10px;
  width: 170px;
}
#set-plug > div > div {
  position: absolute;
  top: 0;left: 0;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  background-color: var(--linkex);
  opacity: 0.2;
  box-shadow: 0 0 5px var(--linkex);
  pointer-events: none;
  transition: width 0.2s, opacity 0.2s;
}
#set-plug > div:hover > div {
  opacity: 0.3;
}
#set-plug > div.active > div {
  width: 320px;
  opacity: 0.3;
}
#set-plug > div.active:hover > div {
  opacity: 0.2;
}

#set-end {
  text-align: center;
  padding: 20px;
}
